/* navbar */
.navbar1{
    height: 80px;
    background:  linear-gradient(180deg, rgba(22, 30, 61, 0.65) 0%, rgba(238, 238, 238, 0.65) 100%);
    position: sticky;
    width: 100%;
}

.items{
    padding-top: 20px;
}
.item{

    padding: 60px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blog{
    padding-left: 80%;
}
/* 
home.html */

#me{
    width: 500px;
    height: 500px;
    border-radius: 25rem;
}

.things h2{
/* font-family: 'Gamja Flower', cursive; */
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Mukta', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
font-family: 'Sirin Stencil', cursive;
}

.things h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.logform{
    margin-top: 10%;
    background:  linear-gradient(180deg, rgba(22, 30, 61, 0.65) 0%, rgba(238, 238, 238, 0.65) 100%); ;
    border-radius: 1rem;
}

