{% extends "base.html"%} {% import 'macros.html' as macro %} {% import
'bootstrap/wtf.html' as wtf%} {% block title%} HOME {% endblock%} {% block
styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />

{% endblock %} {% block content %}
<h3 align="center" class="trend">TREDNING BLOGS</h3>


  <div class="comtainer-fluid blogs">
    <ul>
      {%for blog in blogs%}
       <div class="card blog" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{blog.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{blog.category}}</h6>
      <p class="card-text">{{blog.description}}</p>
        
      </p>
      <a href="#" class="card-link"
        ><button type="button" class="btn btn-success">Add Comment</button></a
      >
      <a href="#" class="card-link"
        ><button type="button" class="btn btn-danger">
          Delete<i class="fa-solid fa-trash-can"></i></button
      ></a>
    </div>
  </div>
      {%endfor%}
    </ul>
    
 
  </div>
  {%endblock%}

