<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Mukta:wght@200&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sirin+Stencil&display=swap"
      rel="stylesheet"
    />
    <title>{% block title%}Home {%endblock%}</title>
    {% block styles%}

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />

    {% endblock %}
    <script
      src="https://kit.fontawesome.com/4b22a001a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar1">
      <div class="class1" id="navbar">
        <div class="items">
          <a class="item" id=" logout" href="{{url_for('auth.logout')}}"
            >Log Out</a
          >

          <a class="item" id=" home" href="/">Home</a>

          <a class="item" id=" login" href="{{url_for('auth.login')}}">Login</a>
          <a class="item" id=" signUp" href="{{url_for('auth.register')}}"
            >sign Up</a
          >

          <a class="item" id=" blog" href="{{url_for('auth.register')}}"
            >Write Blog</a
          >
        </div>
      </div>
    </nav>

    {%block content%} {%endblock%}
 <div class="foot">
      <div class="class1" id="navbar">
        <div class="items">
          <a class="item" id=" logout" href="{{url_for('auth.logout')}}"
            ><i class="fa-brands fa-facebook-f"></i>facebook</a
          >

          <a class="item" id=" home" href="/"><i class="fa-brands fa-twitter">Twitter</i></a>

          <a class="item" id=" login" href="{{url_for('auth.login')}}"><i class="fa-brands fa-instagram-square"></i>instagram</a>
          <a class="item" id=" signUp" href="{{url_for('auth.register')}}"
            > <i class="fa-brands fa-whatsapp-square"></i>whatsapp</a
          >

        
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      type = "text/javascript";
      ("{{url_for('static',filename='index.js')}}");
    </script>
  </body>
</html>
