{% extends "base.html"%} {% import 'macros.html' as macro %} {% import
'bootstrap/wtf.html' as wtf%} {% block title%} HOME {% endblock%} {% block
styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />

{% endblock %} {% block content %}

<div class="image">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="../static/images/me.jpg" alt="me" id="me" />
    </div>
    <div class="col-md-4">
        <h2>10 THINGS I LOVE ABOUT SUNDAY</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        incidunt enim beatae totam provident harum doloribus a, nobis dolorum
        similique est non reprehenderit dolor, et, error asperiores ea quas
        magnam. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Ratione repellat, magni itaque odit voluptates atque. Rerum et magnam
        quos, quasi cupiditate vero, adipisci itaque saepe debitis, illo tempore
        exercitationem deleniti?
      </p>
      <br>
      <h3>Log In to view more Blogs</h3>
      <a href="{{url_for('auth.login')}}">LogIn Here</a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{%endblock%}
