<div class="comtainer-fluid blogs">
    
  <div class="card blog" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{blogs.title }}</h5>i class="fa-solid fa-pen-ruler"></i> </h5>
      <h6 class="card-subtitle mb-2 text-muted">Posted By: Lucy</h6>
      <p class="card-text">{{blogs.description}}</p>
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="{{url_for('main.comment')}}" class="card-link"
        ><button type="button" class="btn btn-success">Add Comment</button></a
      >
      <a href="#" class="card-link"
        ><button type="button" class="btn btn-danger">
          Delete<i class="fa-solid fa-trash-can"></i></button
      ></a>
    </div>
  </div>




    <div class="container">
    <div class="row">
      <div class="jumbotron">
        <ul style="list-style: none">
          {% for blog in blogs %}
          <div class="list-group">
            <a href="#">
              <div class="list-item">
                <p>{{blog.id}}</p>
              </div>
              <h4>{{ blog.description }}</h4>
              <h6>Posted by .</h6>
            </a>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>